body {
	background-color: #F2F2F2;
    color: rgb(175 90 113);
    font-family: lora;
    text-align: center;
    margin: 60px auto;
    padding: 0px;
    line-height: 1.3;
    letter-spacing: 0.3px;
    width: 1000px;

}

h1{
	background-color: white;
    color: #596C73;
    font-family: lora;
    margin: 40px;
    margin-bottom: 40px;
    text-align: center;
}

h2{
	color: #596C73;
	font-size: 25px;
}
	
p{
	color: rgb(100, 100, 100);
	font-family: lora;
	font-size: 20px;
	padding: 15px;
}

a{
	font-family: lora;
	text-decoration: none;
	color: rgb(199, 129, 129);
}

a: hover {
	color: black;
}

div{
	background: white;
	padding: 70px;
	margin: 80px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px
}


.social-size{
	font-size: 50px;
	list-style-type: none;
	display: inline;
	padding: 10px;
	padding-left: 0px
}
.social-size a:hover{
	color: black;
}


@media (max-width: 960px){
	.container{
		width: 700px;
		margin: auto;
	}
}

@media (max-width: 720px){
	.container{
		width: 500px;
		margin: auto;
	}
}

@media (max-width: 540px){
	.container{
		width: 300px;
		margin: auto;
	}
}


/* Custom design with class */

.container{
	width: auto;
	margin: auto;
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
	border-radius: 4px;
	text-align: center;
}

.image-circle{
	border-radius: 50%;
	width: 150px;

}


.btn-blue{
	background-color: rgb(199, 129, 129);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: black;
	color: white;
}

.list-horizontal{
	list-style:none;
	padding: 0px;
}

.list-horizontal li{
	display: inline;
	padding: 10px;
}






